.book {
  margin-bottom: 2em;
  width: 100%;
}

#title {
  text-align: center;
}

.items {
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.search-bar {
  // background-color: red;
  margin: 0% 10% 0% 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  input {
    margin: 10px;
    height: 40px;
    width: 900px;
    border: black 1px solid;
    border-radius: 5px;
  }
  button {
    height: 40px;
    width: 60px;
  }
}

.expected-block {
  h2 {
    margin: 10px;
    text-decoration: underline;
  }
  h4 {
    border: black solid 1px;
    padding: 10px;
    margin: 10px;
  }
}
