.navbar {
    background-color: #e7dede;
    display: flex;
    justify-content: space-between;
    width: auto;

    ul {
        list-style-type: none;

        li {
            a {
                display: block;
                padding: 20px 10px;
                text-decoration: none;
                color: black;
                font-size: large;
            }

            :hover {
                text-decoration: underline;
            }
        }
    }

    p {
        // background-color: salmon;
        display: block;
        padding: 20px 10px;
        text-decoration: none;
        color: black;
        font-size: large;
        width: max-content;
        margin-right: 70px;
    }
}

#menu-left {
    display: flex;
    width: fit-content;
    padding-left: 50px;
    // background-color: rebeccapurple;
}

#menu-right {
    display: flex;
    width: fit-content;
    padding-right: 50px;
    // background-color: royalblue;
}